<div class="container">
  <h1>Welcome to Chirpity Chirp!</h1>
  <form id="tweetform" action="#" method="POST">
    <input type="text" name="tweet">
    <input type="submit" value="Submit">
  </form>
  <div class="response"></div>

  <img src="http://s15.postimage.org/kozhy0eon/pajaro.gif" id="pajaro" class="piopio">


</div>


